md-card {
    width: 500px;
    height: 100%;
    min-height: 300px;
}

md-card-header {
    position: relative;
}

md-card-title {
    font-size: 28px !important;
}

md-card-subtitle {
    font-size: 22px;
}

md-card-content {
    font-size: 18px;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.close-button md-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: 5px 5px 0 0;
}

.image-gallery {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto 16px auto;
}

.carousel-button {
    position: relative;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: auto 0 auto 0;
}

.carousel-button md-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-top: 12px;
}

.left-button {
    margin-left: -24px;
}