md-card {
    width: 500px;
    height: 100%;
    min-height: 300px;
}

md-card-title {
    font-size: 28px !important;
}

md-card-subtitle {
    font-size: 22px;
}

md-card-content {
    font-size: 18px;
}

.image-gallery {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 0 auto 16px auto;
}