 <!--Background pattern from Subtle Patterns -->
<div>
<div class="bg">
</div>
<md-card class="header">
  <md-card-content class="header-content">
    <img class="logo" src="./assets/images/logo.png">
    <a md-raised-button [routerLink]="['homeAnchor']">
      Home
      <md-icon>home</md-icon>
    </a>
    <a md-raised-button [routerLink]="['projectsAnchor']">
      Projects
      <md-icon>build</md-icon>
    </a>
    <a md-raised-button href="./assets/AlexLangdonResumeWeb.pdf">
      CV
      <md-icon>description</md-icon>
    </a>
    <a md-button href="http://uk.linkedin.com/pub/alex-langdon/a5/628/82b">
      <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_120x33.png" 
          class="linked-in-button" alt="View Alex Langdon's profile on LinkedIn">
    </a>
  </md-card-content>
</md-card>

<md-card class="main-content-wrap">
  <div class="title-wrapper">
    <img md-card-image class="title-img" src="./assets/images/header.JPG">
    <div class="title-text">
      <span>Alex Langdon</span>
      <hr class="cool_hr">
      <span>Front-end, Web and Mobile Application Developer</span>
    </div>
  </div>
  <md-card class="intro-card">
    <img md-card-avatar md-card-lg-image align="left" class="avatar">
    <md-card-title>
     <md-icon class="card-title-icon">account_circle</md-icon> About Me 
    </md-card-title>
    <hr>
    <md-card-content>
      I am Computer Science graduate from Warwick University. <br>
      During my Master’s year my academic focus was in deep learning, data mining 
      and image analysis. <br>
      Currently I am interested in making responsive Angular 2 web applications. 
      I have also designed apps and 2D/3D games for Android and the web. 
      In my free time I enjoy playing guitar and making digital environment art.
    </md-card-content>
  </md-card>
  <md-grid-list cols="3" class="columns-grid" rowHeight="fit" gutter="10px">
    <md-grid-tile>
      <md-card>
        <md-card-title>
          Programming
          <md-icon>code</md-icon>
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item>Java</md-list-item>
            <md-list-item>Angular 2</md-list-item>
            <md-list-item>Python</md-list-item>
            <md-list-item>Javascript</md-list-item>
            <md-list-item>HTML5/CSS3</md-list-item>
            <md-list-item>C++</md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card>
        <md-card-title>
          Preferred Editors
          <md-icon>dvr</md-icon>
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item>Visual Studio Code</md-list-item>
            <md-list-item>Eclipse</md-list-item>
            <md-list-item>PyCharm</md-list-item>
            <md-list-item>Photoshop</md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
    <md-grid-tile>
      <md-card>
        <md-card-title>
          Languages
          <md-icon>language</md-icon>
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item>English (Native)</md-list-item>
            <md-list-item>Russian (Native)</md-list-item>
            <md-list-item>French (Basic)</md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
    <md-grid-list cols="3" rowHeight="370px" class="projects-grid" gutter="10px">
    <md-grid-tile *ngFor="let project of academicProjects">
      <project-card [project]="project"></project-card>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="3" rowHeight="370px" class="projects-grid" gutter="10px">
    <md-grid-tile *ngFor="let project of personalProjects">
      <project-card [project]="project"></project-card>
    </md-grid-tile>
  </md-grid-list>
</md-card>
<md-card class="footer">
  <content class="footer-content">
    email: a.langdon.mail<img class="at-symbol" src="./assets/images/at_black.gif" alt="at">gmail.com <br>
    made with <img src="./assets/images/angular.svg" class="footer-icon" title="Angular 2" alt="Angular icon">
    <img src="./assets/images/GitHub-Mark-64px.png" class="footer-icon github-icon" title="Github pages" alt="Github icon">
  </content>
</md-card>
</div>