@import 'src/styles.scss';

md-card-subtitle {
    margin-bottom: 6px;
}

.card-content-warp {
    background-color: mat-color($primary);
    margin: 0 -24px;
    padding: 6px 24px;
    width: 170px;
}

.thumb-image {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 0 auto 24px auto;
}